<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.busanit501.spring_prac.mapper.FoodMapper">

    <select id="getTime" resultType="string">
        select now()
    </select>

    <insert id="insert">
        insert into tbl_food (title,dueDate,writer) values (#{title},#{dueDate},#{writer})
    </insert>

    <select id="selectAll" resultType="com.busanit501.spring_prac.domain.FoodVO">
        select * from tbl_food order by fno desc
    </select>

    <select id="selectOne" resultType="com.busanit501.spring_prac.domain.FoodVO">
        select * from tbl_food where fno=#{fno}
    </select>

    <delete id="delete">
        delete from tbl_food where fno=#{fno}
    </delete>

    <update id="update">
        update tbl_food set title = #{title}, dueDate = #{dueDate}, finished = #{finished}
        where fno = #{fno}
    </update>

    <select id="selectList" resultType="com.busanit501.spring_prac.domain.FoodVO">
        select * from tbl_food order by fno desc limit #{skip} ,#{size}
    </select>

    <select id="getCount" resultType="int">
        select count(fno) from tbl_food;
    </select>
</mapper>